:root {
    --red: #f44336;
    --green: #4caf50;
    --blue: #2196f3;
    --side: 200px;
}

body {
    width: 600px;
    height: 400px;
    margin: 0;
}

[class^="square"] {
    position: absolute;
    top: 0;
    left: 0;

    width: var(--side);
    height: var(--side);
}

.square-red {
    background: var(--red);
}

.square-green {
    top: var(--side);
    left: var(--side);

    background: var(--green);
}

.square-blue {
    left: calc(var(--side) * 2);

    background: var(--blue);
}